# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json
appsettings.*.local.json

# Node / React
node_modules/
dist/
build/
.env
.env.local

# IDE
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Secrets
*.pfx
secrets.json

# Logs
*.log
